@{
    ViewBag.Title = "Update";
}
@model XGY_WeiXin.Areas.Admin.Models.UpdateUserView
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">更新用户</div>
                </div>
                <div class="panel-body">
                    <div id="rootwizard">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                @using (Html.BeginForm("Update", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.LoginName, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control", placeholder =Html.DisplayNameFor(x=>x.LoginName) })
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="help-block">@Html.ValidationMessageFor(x => x.LoginName)</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.UserName, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(x=>x.UserName) })
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="help-block">
                                                @Html.ValidationMessageFor(x => x.UserName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.HeadPhoto, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(x => x.HeadPhoto, new { @class = "btn btn-default", type = "file", id = "exampleInputFile" ,placeholder=Html.DisplayNameFor(x=>x.HeadPhoto)})
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="help-block">@Html.ValidationMessageFor(x => x.HeadPhoto)</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.LoginPwd, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(x => x.LoginPwd, new { @class = "form-control", placeholder =Html.DisplayNameFor(x=>x.LoginPwd)})
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="help-block">
                                                @Html.ValidationMessageFor(x => x.LoginPwd)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default">确定</button>
                                            <a href="@Url.Action("Index")"><label class="btn btn-primary">取消</label></a>
                                            <div class="help-block">@Html.ValidationSummary(true)</div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
