<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/Content/admin/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="javascript:()">后台管理系统</a></h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-12">
                            @*<div class="input-group form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Search</button>
                                </span>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员 您好 <b class="caret"></b></a>
                                    <ul class="dropdown-menu animated fadeInUp">
                                        <li><a href="@Url.Action("Editor","Account")">个人信息</a></li>
                                        <li><a href="@Url.Action("Index", "Account")">退出登录</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li class="current"><a href="@Url.Action("Index","Home")"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> 文章管理
                                <span class="caret pull-right"></span>
                            </a>
                            <ul>
                                <li><a href="@Url.Action("Index","ArticleCategory")">文章分类</a></li>
                                <li><a href="@Url.Action("Index","Article")">文章列表</a></li>
                            </ul>
                        </li>
                        <li><a href="stats.html"><i class="glyphicon glyphicon-pencil"></i> 自定义菜单</a></li>
                        <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> 11111</a></li>
                        <li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
                        <li><a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
                        <li><a href="@Url.Action("Index","User")"><i class="glyphicon glyphicon-list"></i> 用户管理</a></li>
                        <li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                @Html.Partial("_Notifications")
            </div>            
            @RenderBody()
        </div>            
        </div>
    <footer>
        <div class="container">
            <div class="copy text-center">
                Copyright 2016----2022 <a href='http://www.cnblogs.com/netxiaohui' target="_black">NET---- 阿辉</a>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/admin/bootstrap/js/bootstrap.min.js"></script>    
    <script src="~/Content/admin/js/custom.js"></script>
    <script src="~/Content/admin/js/tables.js"></script>    
</body>
</html>